.Login {
    margin-bottom: 90px;
}

.Grid {
    height: 60vh;
}

.Column {
    max-width: 352px;
}

#submitButton {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    border-color: #3579EC;
    border-width: 0.7px;
}
