.measurement {
    padding-top: 5px;
}

.tinyLabel {
    height: 25px;
    width: 45px;
    text-align: center;
    padding: 5px;
}

.tinyInput {
    height: 25px;
    width: 45px;
    text-align: center;
    padding-top: 4px;
}

.smallLabel {
    height: 25px;
    width: 65px;
    text-align: center;
    padding: 5px;
}

.smallInput {
    height: 25px;
    width: 65px;
    text-align: center;
    padding-top: 4px;
}

.addIcon {
    padding-top: 28px;
    color: #75D7F4;
}