.Header {
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: 'Black Ops One', Sans-Serif;
  font-size: 50px;
  color: #333333; 
  text-align: center;
  letter-spacing: 0.75px;
  -webkit-text-stroke-width: 0.7px; 
  -webkit-text-stroke-color: #3579EC;
}