.Login {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.Login button {
    margin: 10px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    border-color: #3579EC;
}
